
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-color:#e0dfdf
}

#foto{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 40px;
    position: relative;
    top:-150px;
    box-shadow: 0px -2px 5px 1px  rgba(0, 0, 0, 0.3);
    
}
#container{
    background-color: #fefefe;
    margin-left: 20%;
    margin-right:20%;
    margin-top: 10%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;


}
#nama{
    margin-top: -100px;
    text-align: center;

}
#sub-nama{
    text-align: center;
    color: #ffa600;
    margin-bottom: 20px;

}
table{
    width: 60%;
    margin-left: 25%;

}

.judul-table{
    width: 40%;
}

.titik-dua{
    width: 10%;
}

.isi-table{
    width: 50%;
}

#social-media{
    text-align: center;
    margin-top: 50px;
    color: #ffb325;

}